@using HAFunctions.Shared
@model HAFunctions.Shared.Models.FunctionModel
@{
    ViewData["Title"] = "Delete Function";
}

@section Header 
{

}
@{
    var item = Model;
    var Index = 0;
}



<p>Are you sure you want to delete this function?</p>
<form id="Delete" asp-action="Delete" class="form-inline">
    <input type="hidden" asp-for="FileName" />
    <a asp-action="Index" class="btn btn-primary">No, go back</a>
    <button type="submit" class="btn btn-danger">Yes, delete</button>
</form>

<div class="accordion mt-4" id="accordion-@Index">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-@Index">
            <button class="accordion-button bg-homeassistant text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@Index" aria-expanded="false" aria-controls="collapse-@Index">
                <img src="~/img/ha_function_file.svg" height="40" class="me-2" />@item.FileName
            </button>
        </h2>
        <div id="collapse-@Index" class="accordion-collapse collapse show" aria-labelledby="heading-@Index" data-bs-parent="#accordion-@Index">
            <div class="accordion-body d-flex flex-column-reverse flex-md-row">
                <div class="flex-grow-1 flex-shrink-1">
                    <p><strong>The following methods with trigger attributes were detected in the file:</strong></p>
                    @foreach (var method in item.DefinedFunctionModels)
                    {
                        <p><code class="text-dark">
                        @foreach(var trigger in method.Attributes)
                        {
                            <span class="ha-function-bracket">@Html.Raw("[")</span><span class="ha-function-type">@(trigger.Name)</span>@Html.Raw("<span class=\"ha-function-methodname\">(</span>")
                            @for(var i = 0; i < trigger.Parameters.Count; i++)
                            {
                                var a = trigger.Parameters[i];
                                @Html.Raw($"{a.Name}:") <span class="ha-function-string">@Html.Raw($"{a.Value?.ToString()}")</span>if(i+1 < trigger.Parameters.Count){@Html.Raw(", ")}
                            }
                            @Html.Raw(")")<span class="ha-function-bracket">@Html.Raw("]")</span><br/>
                        }
                        <span class="ha-function-type">@method.ReturnType.GetTypeName()</span> <span class="ha-function-methodname">@method.Name</span><span class="ha-function-bracket">(</span>@foreach(var param in @method.Parameters) {<span class="ha-function-type">@param.Type.GetTypeName()</span> @param.Name if(param != method.Parameters.LastOrDefault()) {<span>,</span>}}<span class="ha-function-bracket">) @Html.Raw("{")</span> ... <span class="ha-function-bracket">@Html.Raw("}")</span></code></p>
                    }
                </div>               
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script src="~/lib/codemirror/lib/codemirror.js"></script>
<script src="~/lib/codemirror/mode/clike/clike.js"></script>
<script src="~/lib/codemirror/addon/lint/lint.js"></script>
<script src="~/js/csharp-lint.js" ></script>
<script>
    var objectivecEditor = CodeMirror.fromTextArea(document.getElementById("Code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-csharp",
        gutters: ["CodeMirror-lint-markers"],
        lint: true,
        getAnnotations: function(text) {
            var found = [];
            found.push({ from: 1, to: 2, message: "This is fucked up" });
            return found;
        }
    });
    $('#Code').removeClass("d-none");
</script>
}


